{{- $p := .Page -}}
{{- $pages := union $p.Sections $p.RegularPages -}}

<div class="hx:not-prose hx:mt-4 hx:grid hx:gap-4 md:hx:grid-cols-2">
  {{- range sort $pages "Weight" "asc" -}}
    <a href="{{ .RelPermalink }}"
       class="children-list-card
              hx:block hx:rounded-xl hx:border hx:p-4
              hover:hx:-translate-y-0.5 hover:hx:shadow-sm
              hx:transition hx:duration-150">

      <p class="hx:text-base hx:font-medium hx:mb-1">
        {{ .Title }}
      </p>

      {{- with .Params.summary }}
        <p class="hx:text-sm hx:text-gray-700 dark:hx:text-gray-300">
          {{ . }}
        </p>
      {{- end }}

    </a>
  {{- end -}}
</div>
